@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 100%;
  height: auto;
  background: #333F47;
  overflow: hidden;
}

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px 0;
  transition: background-color .2s ease-in;
}

.navigation__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background: #354149;
  transition: transform .2s ease-in;
}

.menu--active {
  position: fixed;
  transform: translateX(0px);
  z-index: 5;
}


ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu--active ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

li {
  position: relative;
  margin: 35px 0 0 40px;
  color: #fff;
  font-weight: 300;
  pointer-events: all;
  cursor: pointer;
}

li:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90%;
  height: 1px;
  background: #2D373F
}

li.logout a {
  text-decoration: none;
  color: rgb(179, 54, 54);
  font-weight: 600;
}

.navigation__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 25px;
}

.navigation__user a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.navigation__username {
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.burger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
  z-index: 99;
  outline: none;
  transition: transform .2s ease-in-out;
}

.burger__box {
  width: 20px;
  height: 12px;
  display: inline-block;
  position: relative;
}

.burger__inner {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.burger__inner::before,
.burger__inner::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.burger__inner::before {
  top: -7px;
}

.burger__inner::after {
  top: 7px;
  transform: scaleX(0.5);
}

.burger--active {
  transform: translateX(20px);
}

.burger--active .burger__inner {
  background-color: transparent;
}

.burger--active .burger__inner:before {
  transform: translateY(7px) rotate(45deg);
}

.burger--active .burger__inner:after {
  transform: translateY(-7px) rotate(-45deg) scaleX(1);
}

.navigation__right-wrapper {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.navigation__searchbox {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.navigation__searchbox .fa-search {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 5px;
}

.navigation__search {
  width: 150px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: inherit;
  padding-bottom: 3px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}

.navigation__search::placeholder {
  color: white;
}

.header {
  position: relative;
  height: 65vh;
  padding-top: 20px;
  z-index: 1;
}

.header__bg {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 50vh;
  background: linear-gradient(88.98deg, #FC5C7D 6.06%, #6A82FB 93.52%),
    #BBBBBB;
  z-index: -1;
  transform: rotate(-11deg) scale(1.3);
  overflow: hidden;
}

.header__bg img {
  margin-top: 100px;
  transform: rotate(11deg);
}

.header__desktop-bg {
  display: none;
}

.header__mobile-bg {
  width: 85%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
}

.heading__logo {
  width: 60%;
}

.heading__title {
  position: relative;
  color: white;
  font-size: 20px;
  z-index: -1;
  font-weight: 300;
  margin-top: 10px;
}

.heading__title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5px;
  right: -5px;
  height: 50%;
  background: rgba(252, 92, 124, 0.2)
}

.heading a {
  color: black;
  padding: 5px 20px;
  background: white;
  text-decoration: none;
  font-size: 12px;
}

.heading a:first-of-type {
  margin-right: 15px;
}


.products {
  display: flex;
  flex-direction: column;
  height: auto;
}

.products:nth-of-type(odd) {
  align-items: flex-end;
}

.products p.section-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px 5px
}

.products span.underline {
  height: 1px;
  width: 40%;
  background: linear-gradient(88.98deg, #FC5C7D 6.06%, #6A82FB 93.52%);
  margin: 0 20px 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.glider1, .glider2, .glider3 {
  display: none;
}

.carousel-btn-right,
.carousel-btn-left {
  display: none;
}

.product {
  position: relative;
  width: 90%;
  min-height: 100px;
  background: #fff;
  margin: 7px 0;
}

.mobile-gallery .product {
  display: flex;
}

.product div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 100%;
}

.product img {
  margin-left: 10px;
  width: 30%;
  height: 40%;
  align-self: center;
}

.product p {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 0;
}

.product span.price {
  font-size: 13px;
  margin-right: 10px;
}


.product button {
  cursor: pointer;
  background: #333F47;
  border: none;
  color: white;
  padding: 5px 20px;
  font-family: inherit;
  font-size: 13px;
  margin: 10px 10px 10px 0;
}

.products:nth-of-type(odd) .product {
  margin-right: 0;
}

.products:nth-of-type(even) .product {
  margin-left: 0;
}

.footer {
  min-height: 60vh;
  background: #2E3940;
  color: white;
  padding: 20px;
}

.footer h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.footer p {
  font-size: 14px;
  font-weight: 300;
}

.footer div {
  margin-bottom: 55px;
}

.footer__about {
  line-height: 125%;
}

.footer__contact form {
  display: flex;
  flex-direction: column;
}

.footer__contact label {
  font-weight: 300;
  font-size: 14px;
}

.footer__contact input,
.footer__contact textarea {
  width: 100%;
  max-width: 100%;
  margin: 5px 0;
  background: #333F47;
  border: none;
  padding: 5px;
  color: white;
  font-family: inherit;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer__contact textarea {
  min-height: 100px;
}

.footer__contact button {
  width: 35%;
  background: #FC5C7D;
  border: none;
  color: white;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  padding: 8px 0;
}





@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .navigation__menu {
    position: static;
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
    height: auto;
    background: none;
  }

  .navigation__menu ul {
    align-items: center;
  }

  .navigation__menu li {
    font-size: 14px;
    margin: 0 0 0 30px;
  }

  .navigation__menu li:after {
    display: none;
  }

  .navigation__menu li:last-child {
    margin-right: 30px;
  }

  .navigation__user {
    margin: 0;
    margin-left: 20px;
  }
  .navigation__username {
    margin-right: 0;
    margin-left: 10px;
  }

  .navigation__right-wrapper {
    margin-right: 20px;
  }

  .header {
    height: 80vh;
  }

  .header__bg {
    transform: rotate(-11deg) scale(1.6);
  }

  .header__mobile-bg {
    display: none;
  }

  .heading {
    margin-top: 21vh;
  }

  .header__desktop-bg {
    display: block;
    width: 60%;
  }

  .heading__logo {
    width: 30%;
  }

  .heading__title {
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  /* PRODUCTS SECTION */

  .gallery {
    flex-direction: row;
    width: auto;
    max-width: 80%;
    margin: 0;
    overflow: hidden;
    align-self: flex-end
  }

  .glider2 .product img {
    width: 60%;
  }

  .products {
    position: relative;
    align-items: center;
    margin-bottom: 100px;
  }

  .products:nth-of-type(odd) {
    align-items: center;
  }

  .products p.section-title {
    font-size: 20px;
  }

  .glider1, .glider2, .glider3 {
    display: flex;
  }

  .mobile-gallery {
    display: none;
  }

  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 180px;
    margin: 0 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .product p {
    color: black;
    font-size: 14px;
    margin: 0;
    position: relative;
    margin-bottom: 20px; 
    text-align: center;
  }

  .product img {
    width: 80%;
    margin-bottom: 30px;
    height: 60px;
    margin-top: 20px;
  }

  .product span.price {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
  }

  .product span.underline {
    background: #ccc;
    width: 80%;
    margin-bottom: 10px;
  }

  .product button {
    cursor: pointer;
    background: #333F47;
    border: none;
    color: white;
    padding: 5px 20px;
    font-family: inherit;
    border-radius: 5px;
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
  }

  .products:nth-of-type(odd) .product {
    margin-left: 0;
    margin-right: 20px;
  }

  .carousel-btn-left, .carousel-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
  }

  .carousel-btn-left {
    display: block;
    left: 20px;
  }

  .carousel-btn-right {
    display: block;
    right: 20px;
  }

  .products button div {
    border-left: 2px solid #EEEEEE;
    border-top: 2px solid #EEEEEE;
    height: 40px;
    width: 40px;
  }

   .carousel-btn-left div {
    transform: rotate(-45deg);
  }


  .carousel-btn-right div{
    right: 20px;
    transform: rotate(135deg);
  }

  .footer {
    display: flex;
    min-height: 20vh;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;

  }

  .footer div {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
    flex-grow: 1;
    margin: 0;
  }

  .footer .footer__about {
    text-align: center;
    padding-right: 30px;
  }

  .footer__contact form {
    width: 80%;
  }

  .footer .footer__authors {
    flex-basis: auto;
  }

}

@media (min-width: 1280px) {
  .navigation li {
    font-size: 13px;
  }

  .heading__logo {
    width: 27%;
  }

  .navigation__search {
    font-size: 12px;
  }

  .header {
    height: 90vh;
  }

  .header__bg {
    transform: rotate(-11deg) scale(1.8);
  }

  .navigation__user {
    margin-left: 40px;
  }

  .navigation__right-wrapper {
    margin-right: 40px;
  }

  .gallery {
    flex-direction: row;
    width: auto;
  }

  .products p.section-title {
    margin: 0 40px 5px;
  }

  .products span {
    margin: 0 40px 40px;
  }
}

@media (min-width: 1440px) {
  .navigation__menu li {
    margin: 0 0 0 40px;
  }
  .navigation__menu li:last-child {
    margin-right: 40px;
  }

  .navigation__right-wrapper {
    margin-right: 40px;
  }

  .navigation__searchbox {
    margin-right: 30px;
  }

  .navigation__search {
    width: 160px;
  }

  .heading {
    margin-top: 23vh;
  }

  .heading__logo {
    width: 25%;
  }

  .heading__title {
    font-size: 32px;
  }

  .heading a {
    padding: 7px 22px;
    font-size: 13px;
  }

  .product {
    /* min-height: 270px; */
  }
  
}

@media (min-width: 1600px) {
   .navigation li {
     font-size: 15px;
   }

   /* .heading__title{color:black} */

   .navigation__search {
     font-size: 14px;
   }

   .navigation__cart {
     width: 27px;
   }

   .products p.section-title {
     font-size: 24px;
   }

   .product {
     min-height: 270px;
   }

   .product p {
     margin-top: 10px;
     font-size: 17px;
   }

   .product span.price {
     font-size: 15px;
   }

   .product img {
     margin-top: 0;
   }

   .product button {
     font-size: 15px;
     margin-top: 15px;
     margin-bottom: 0;
   }
}

@media (min-width: 1800px) {
  .heading {
    margin-top: 25vh;
  }

 /* .heading__title{color:black} */

  .heading a {
    padding: 8px 24px;
    font-size: 14px;
  }

  .navigation li {
    font-size: 16px;
  }

  .navigation__right-wrapper {
    margin-right: 50px;
  }

  .navigation__search {
    width: 170px;
  }

  .products p.section-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .products span {
    margin-bottom: 50px;
  }
}

@media (min-width: 2000px) {
   .heading__title{font-size: 34px;}
   
   .heading__logo {
     width: 23%;
   }

   .navigation li {
     font-size: 18px;
   }
   .navigation {
     padding-left: 25px;
     padding-right: 25px;
   }

   .navigation__cart {
     width: 30px
   }

   .navigation__search {
     font-size: 16px;
     width: 180px;
   }
   .navigation__searchbox {
    margin-right: 40px;
  }

  .navigation .fa-search {
    font-size: 20px;
  }

  .navigation li:last-child {
    margin-right: 60px;
  }

  .product {
    min-height: 270px;
  }

  .products p.section-title {
    font-size: 32px;
  }
}