@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 100%;
  height: auto;
  background: #333F47;
  overflow: hidden;
}

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px 0;
  transition: background-color .2s ease-in;
}

.navigation__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background: #354149;
  transition: transform .2s ease-in;
}

.menu--active {
  position: fixed;
  transform: translateX(0px);
  z-index: 5;
}


ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu--active ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

li {
  position: relative;
  margin: 35px 0 0 40px;
  color: #ddd;
  font-weight: 300;
}

li:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90%;
  height: 1px;
  background: #2D373F
}

li.logout a {
  text-decoration: none;
  color: rgb(179, 54, 54);
  font-weight: 600;
}

.navigation__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 25px;
}

.navigation__user a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.navigation__username {
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.burger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
  z-index: 99;
  outline: none;
  transition: transform .2s ease-in-out;
}

.burger__box {
  width: 20px;
  height: 12px;
  display: inline-block;
  position: relative;
}

.burger__inner {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.burger__inner::before,
.burger__inner::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.burger__inner::before {
  top: -7px;
}

.burger__inner::after {
  top: 7px;
  transform: scaleX(0.5);
}

.burger--active {
  transform: translateX(20px);
}

.burger--active .burger__inner {
  background-color: transparent;
}

.burger--active .burger__inner:before {
  transform: translateY(7px) rotate(45deg);
}

.burger--active .burger__inner:after {
  transform: translateY(-7px) rotate(-45deg) scaleX(1);
}

.navigation__right-wrapper {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.navigation__searchbox {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.navigation__searchbox .fa-search {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 5px;
}

.navigation__search {
  width: 150px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: inherit;
  padding-bottom: 3px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}

.navigation__search::placeholder {
  color: white;
}

.header {
  position: relative;
  height: 65vh;
  padding-top: 20px;
  z-index: 1;
}

.header__bg {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 50vh;
  background: linear-gradient(88.98deg, #FC5C7D 6.06%, #6A82FB 93.52%),
    #BBBBBB;
  z-index: -1;
  transform: rotate(-11deg) scale(1.3);
  overflow: hidden;
}

.header__bg img {
  margin-top: 100px;
  transform: rotate(11deg);
}

.header__desktop-bg {
  display: none;
}

.header__mobile-bg {
  width: 85%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
}

.heading__logo {
  width: 60%;
}

.heading__title {
  position: relative;
  color: white;
  font-size: 20px;
  z-index: -1;
  font-weight: 300;
  margin-top: 10px;
}

.heading__title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5px;
  right: -5px;
  height: 50%;
  background: rgba(252, 92, 124, 0.2)
}

.heading a {
  color: black;
  padding: 5px 20px;
  background: white;
  text-decoration: none;
  font-size: 12px;
}

.heading a:first-of-type {
  margin-right: 15px;
}


.products {
  display: flex;
  flex-direction: column;
  height: auto;
}

.products:nth-of-type(odd) {
  align-items: flex-end;
}

.products p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px 5px
}

.products span {
  height: 1px;
  width: 40%;
  background: linear-gradient(88.98deg, #FC5C7D 6.06%, #6A82FB 93.52%);
  margin: 0 20px 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  line-height: 100px;
  margin-bottom: 40px;
}

.glider1, .glider2, .glider3 {
  display: none;
}

.carousel-btn-right,
.carousel-btn-left {
  display: none;
}

.product {
  width: 90%;
  height: 100px;
  background: #ccc;
  margin: 7px 0;
}

.products:nth-of-type(odd) .product {
  margin-right: 0;
}

.products:nth-of-type(even) .product {
  margin-left: 0;
}

.footer {
  min-height: 60vh;
  background: #2E3940;
  color: white;
  padding: 20px;
}

.footer h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

.footer p {
  font-size: 14px;
  font-weight: 300;
}

.footer div {
  margin-bottom: 55px;
}

.footer__about {
  line-height: 125%;
}

.footer__contact form {
  display: flex;
  flex-direction: column;
}

.footer__contact label {
  font-weight: 300;
  font-size: 14px;
}

.footer__contact input,
.footer__contact textarea {
  width: 100%;
  margin: 5px 0;
  background: #333F47;
  border: none;
  padding: 5px;
  color: white;
  font-family: inherit;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer__contact textarea {
  min-height: 100px;
}

.footer__contact button {
  width: 35%;
  background: #FC5C7D;
  border: none;
  color: white;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  padding: 8px 0;
}





@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .navigation__menu {
    position: static;
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
    height: auto;
    background: none;
  }

  .navigation__menu ul {
    align-items: center;
  }

  .navigation__menu li {
    font-size: 14px;
    margin: 0 0 0 30px;
  }

  .navigation__menu li:after {
    display: none;
  }

  .navigation__menu li:last-child {
    margin-right: 30px;
  }

  .navigation__user {
    margin: 0;
    margin-left: 20px;
  }
  .navigation__username {
    margin-right: 0;
    margin-left: 10px;
  }

  .navigation__right-wrapper {
    margin-right: 20px;
  }

  .header {
    height: 80vh;
  }

  .header__bg {
    transform: rotate(-11deg) scale(1.6);
  }

  .header__mobile-bg {
    display: none;
  }

  .heading {
    margin-top: 21vh;
  }

  .header__desktop-bg {
    display: block;
    width: 60%;
  }

  .heading__logo {
    width: 30%;
  }

  .heading__title {
    font-size: 30px;
  }

  /* PRODUCTS SECTION */

  .gallery {
    flex-direction: row;
    width: auto;
    max-width: 80%;
    /* margin: 0 20px 40px; */
    margin: 0;
    overflow: hidden;
    align-self: flex-end
  }

  .products {
    position: relative;
    align-items: center;
    margin-bottom: 100px;
  }

  .products:nth-of-type(odd) {
    align-items: center;
  }

  .products p {
    font-size: 20px;
  }

  .glider1, .glider2, .glider3 {
    display: flex;
  }

  .mobile-gallery {
    display: none;
  }

  .product {
    height: 250px;
    width: 180px;
    margin: 0 20px;
    border-radius: 10px;
    line-height: 250px;
    padding: 0 !important;
  }

  .products button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
  }

  .carousel-btn-left {
    display: block;
    left: 20px;
  }

  .carousel-btn-right {
    display: block;
    right: 20px;
  }

  .products button div {
    border-left: 2px solid #EEEEEE;
    border-top: 2px solid #EEEEEE;
    height: 40px;
    width: 40px;
  }

   .carousel-btn-left div {
    transform: rotate(-45deg);
  }


  .carousel-btn-right div{
    right: 20px;
    transform: rotate(135deg);
  }

}

@media (min-width: 1280px) {
  .header {
    height: 90vh;
  }

  .header__bg {
    transform: rotate(-11deg) scale(1.8);
  }

  .navigation__user {
    margin-left: 40px;
  }

  .navigation__right-wrapper {
    margin-right: 40px;
  }

  .gallery {
    flex-direction: row;
    width: auto;
  }

  .products p {
    margin: 0 40px 5px;
  }

  .products span {
    margin: 0 40px 40px;
  }
}

@media (min-width: 1440px) {
  .navigation__menu li {
    margin: 0 0 0 40px;
  }
  .navigation__menu li:last-child {
    margin-right: 40px;
  }

  .navigation__right-wrapper {
    margin-right: 40px;
  }

  .navigation__searchbox {
    margin-right: 30px;
  }

  .navigation__search {
    width: 160px;
  }

  .heading {
    margin-top: 23vh;
  }

  .heading__logo {
    width: 25%;
  }

  .heading__title {
    font-size: 32px;
  }

  .heading a {
    padding: 7px 22px;
    font-size: 13px;
  }
}

@media (min-width: 1600px) {

}