@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #354149;
  color: white;
}

.bg-rect {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-icon {
  width: 65px;
}

.heading h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  width: 100%;
}

input {
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 2px solid #eee;
  width: 80%;
  margin-bottom: 40px;
  color: white;
  padding: 5px;
  outline: none;
  transition: transform .2s ease, box-shadow .2s ease;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}


input::placeholder {
  color: white;
  opacity: 0.4
}

button {
  position: relative;
  width: 80%;
  padding: 5px 0;
  border: none;
  background: linear-gradient(90deg, #6A82FB 5.42%, #FC5C7D 92.44%);
  font-family: inherit;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.redirect {
  margin-top: 60px;
  width: 80%;
  font-size: 14px;
  text-align: right;
  font-weight: 300;
  text-decoration: none;
}

.redirect span {
  position: relative;
  color: white;
}

.redirect span:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  height: 70%;
  width: 100%;
  background: rgba(252, 92, 125, 0.2);
  ;
}

@media (min-width: 400px) and (orientation: portrait) {

  .logo-icon {
    width: 70px;
  }

  .heading h4 {
    font-size: 22px;
  }

  input {
    margin-bottom: 50px;
    font-size: 15px;
  }

  button {
    font-size: 15px;
    padding: 8px 0;
  }

  .redirect {
    font-size: 15px;
    margin-top: 80px;
  }
}

@media (orientation: landscape) {
  .logo-icon {
    margin-top: 30px;
  }

  .heading h4 {
    margin-top: 20px;
  }

  .redirect {
    margin: 40px 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .heading h4 {
    margin-top: 40px;
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .app {
    background: linear-gradient(100deg, #FC5C7D 0%, #6A82FB 100%)
  }

  .bg-rect {
    display: block;
  }

  .logo-icon {
    width: 50px;
  }

  .form-wrapper {
    justify-content: center;
    min-width: 350px;
    width: 30%;
    height: 90vh;
    background: #354149;
    z-index: 555;
  }

  .heading h4 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  form {
    margin-top: 30px;
  }

  input {
    padding: 5px;
    font-size: 11px;
    margin-bottom: 30px;
  }

  button {
    font-size: 11px;
  }

  .redirect {
    font-size: 11px;
    margin-top: 40px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .form-wrapper {
    height: 40vh;
  }
}

@media (min-width: 1300px) {
  .logo-icon {
    width: 60px;
  }

  .heading h4 {
    font-size: 20px;
    margin-top: 35px;
  }

  input {
    font-size: 13px;
    margin-bottom: 40px;
  }

  button {
    font-size: 13px;
    padding: 7px 0;
  }

  .redirect {
    font-size: 13px;
  }
}

@media (min-width: 1440px) {
  .logo-icon {
    width: 70px;
  }

  .heading h4 {
    font-size: 22px;
  }

  input {
    font-size: 14px;
    padding: 7px;
  }

  button {
    font-size: 14px;
    padding: 9px 0;
  }

  .redirect {
    font-size: 14px;
    margin-top: 50px;
  }
}

@media (min-width: 1600px) {
  .heading h4 {
    font-size: 24px;
    margin-top: 40px;
  }

  form {
    margin-top: 50px;
  }

  input {
    font-size: 16px;
    margin-bottom: 50px;
  }

  button {
    font-size: 16px;
  }

  .redirect {
    font-size: 16px;
    margin-top: 80px;
  }
}

@media (min-width: 1920px) {
  .logo-icon {
    width: 80px;
  }

  .heading h4 {
    font-size: 28px;
  }

  input {
    font-size: 20px;
  }

  button {
    font-size: 20px;
    padding: 10px 0;
  }

  .redirect {
    font-size: 20px;
  }
}

@media (min-width: 2300px) {
  .logo-icon {
    width: 100px;
  }

  .heading h4 {
    font-size: 36px;
    margin-top: 50px;
  }

  form {
    margin-top: 60px;
  }

  input {
    font-size: 24px;
    margin-bottom: 70px;
  }

  button {
    font-size: 24px;
  }

  .redirect {
    font-size: 24px;
    margin-top: 110px;
  }
}

@media (min-width: 3000px) {
  .logo-icon {
    width: 115px;
  }

  .heading h4 {
    font-size: 40px;
  }

  form {
    margin-top: 70px;
  }

  input {
    font-size: 26px;
  }

  button {
    font-size: 26px;
  }

  .redirect {
    font-size: 26px;
  }
}